.lencg-tanger-est1 {
  position: absolute;
  width: calc(100% - 7px);
  top: calc(50% + 4px);
  left: 8px;
  line-height: 24px;
  display: inline-block;
  height: 100px;
}
.logo-web-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 100px;
  object-fit: cover;
}
.encgt-20231,
.subscribe1 {
  position: absolute;
  left: 50px;
}
.subscribe1 {
  top: calc(50% - 129px);
  width: 361px;
  height: 208px;
}
.encgt-20231 {
  top: calc(50% - 8px);
}
.path-1-icon1 {
  right: 50.69px;
  width: 13.09px;
  height: 25.06px;
}
.path-1-icon1,
.path-2-icon1,
.path-3-icon1 {
  position: absolute;
  top: calc(50% - 12.53px);
}
.path-2-icon1 {
  right: 94px;
  width: 28.87px;
  height: 23.41px;
}
.path-3-icon1 {
  right: 153px;
  width: 25.06px;
  height: 25.06px;
}
.info1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  height: 50px;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.adress1,
.route-de-laroport-container1 {
  position: absolute;
  left: calc(50% + 368px);
}
.adress1 {
  top: 120px;
}
.route-de-laroport-container1 {
  top: calc(50% + 11px);
  line-height: 24px;
}
.service-formation-continue1 {
  position: absolute;
  top: 40px;
  right: 49px;
}
.tl-212-03 {
  position: absolute;
  top: calc(50% - 69px);
  right: 73px;
}
.standard-de-lencgt1 {
  position: absolute;
  top: calc(50% - 25px);
  right: 99px;
}
.email1 {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% + 368px);
}
.tl-212-0-container1 {
  position: absolute;
  top: calc(50% + 11px);
  right: 68px;
  line-height: 24px;
}
.encgtangerencgtma1 {
  position: absolute;
  top: calc(50% - 69px);
  left: calc(50% + 368px);
}
.base-icon1,
.footer-31 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-31 {
  background-color: var(--color-white);
  width: 1920px;
  height: 290px;
  font-size: var(--font-size-lg);
}
.base-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-icon1 {
  position: absolute;
  top: calc(50% - 43px);
  right: 500px;
  width: 16px;
  height: 16px;
}
.logo-web-icon3 {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: calc(50% - 910px);
  max-height: 100%;
  width: 276px;
  object-fit: cover;
}
.nous-contacter1 {
  position: absolute;
  top: calc(50% - 12px);
  right: 49px;
}
.mask-group-51,
.nav-bar-31 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.nav-bar-31 {
  top: 0;
  height: 140px;
  color: var(--color-dimgray);
}
.mask-group-51 {
  top: 140px;
  height: 811px;
  object-fit: cover;
}
.about-6-child,
.about-6-item {
  position: absolute;
  top: 140px;
  width: 960px;
  height: 748px;
}
.about-6-child {
  left: 0;
}
.about-6-item {
  right: 0;
}
.platform-de-gestion {
  margin: 0;
}
.platform-de-gestion-container {
  position: absolute;
  top: calc(50% - 151px);
  left: 0;
  font-size: var(--font-size-41xl);
  line-height: 70px;
}
.bienvenu-dans-la-container {
  position: absolute;
  top: calc(50% + 10px);
  left: 0;
  line-height: 25px;
}
.intersection-1-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  width: 389.74px;
}
.start1 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 35.5px);
}
.start-container {
  position: absolute;
  top: calc(50% + 92px);
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 385px;
  height: 60px;
  color: var(--color-forestgreen);
}
.platform-de-gestion-des-offre-parent {
  position: absolute;
  top: 289.78px;
  left: 70px;
  width: 1564.87px;
  height: 511.44px;
  color: var(--color-white);
}
.group-child {
  position: absolute;
  width: calc(100% - 866px);
  top: calc(50% - 362.5px);
  right: 433px;
  left: 433px;
  border-radius: var(--br-lgi);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
  height: 576px;
}
.nous-contacter2 {
  position: absolute;
  top: calc(50% - 326.5px);
  left: calc(50% - 122px);
  font-size: var(--font-size-7xl);
  line-height: 30px;
  color: var(--color-forestgreen);
  text-align: center;
}
.adress2 {
  left: calc(50% - 482px);
}
.adress2,
.div {
  position: absolute;
}
.email2,
.service-recherche-cooperation,
.tl {
  position: absolute;
  left: calc(50% - 482px);
}
.service-recherche-cooperation {
  top: calc(50% - 183.5px);
}
.tl {
  top: calc(50% - 107.5px);
}
.email2 {
  top: calc(50% + 2.5px);
}
.adress2 {
  top: calc(50% - 52.5px);
}
.div {
  top: calc(50% - 107.5px);
  left: calc(50% + 294px);
}
.scerecherchecooperationencg {
  position: absolute;
  top: calc(50% + 2.5px);
  left: calc(50% + 8px);
}
.route-de-laroport2 {
  position: absolute;
  top: calc(50% - 52.5px);
  left: calc(50% - 165px);
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1920px;
  height: 1241px;
  font-size: var(--font-size-9xl);
}
.about-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1241px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray);
  font-family: var(--font-arial);
}
