.about-4-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1920px;
  height: 951px;
}
.lencg-tanger-est4 {
  position: absolute;
  width: calc(100% - 7px);
  top: calc(50% + 4px);
  left: 8px;
  line-height: 24px;
  display: inline-block;
  height: 100px;
}
.logo-web-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 100px;
  object-fit: cover;
}
.encgt-20234,
.subscribe4 {
  position: absolute;
  left: 50px;
}
.subscribe4 {
  top: calc(50% - 129px);
  width: 361px;
  height: 208px;
}
.encgt-20234 {
  top: calc(50% - 8px);
}
.path-1-icon4,
.path-2-icon4 {
  position: absolute;
  top: calc(50% - 12.53px);
  right: 50.69px;
  width: 13.09px;
  height: 25.06px;
}
.path-2-icon4 {
  right: 94px;
  width: 28.87px;
  height: 23.41px;
}
.path-3-icon4 {
  top: calc(50% - 12.53px);
  right: 153px;
  width: 25.06px;
  height: 25.06px;
}
.adress5,
.info4,
.path-3-icon4 {
  position: absolute;
}
.info4 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  height: 50px;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.adress5 {
  top: 120px;
  left: calc(50% + 368px);
}
.route-de-laroport5 {
  margin: 0;
}
.route-de-laroport-container4 {
  position: absolute;
  top: calc(50% + 11px);
  left: calc(50% + 368px);
  line-height: 24px;
}
.service-formation-continue4 {
  position: absolute;
  top: 40px;
  right: 49px;
}
.tl-212-012 {
  position: absolute;
  top: calc(50% - 69px);
  right: 73px;
}
.standard-de-lencgt4 {
  position: absolute;
  top: calc(50% - 25px);
  right: 99px;
}
.email9 {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% + 368px);
}
.tl-212-0-container4 {
  position: absolute;
  top: calc(50% + 11px);
  right: 68px;
  line-height: 24px;
}
.encgtangerencgtma4 {
  position: absolute;
  top: calc(50% - 69px);
  left: calc(50% + 368px);
}
.footer-34 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 290px;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}
.nom-et-prenom2 {
  position: absolute;
  top: 97px;
  left: 107px;
}
.email10 {
  top: calc(50% - 227.5px);
}
.email10,
.entreprise2,
.tl2 {
  position: absolute;
  left: 107px;
}
.tl2 {
  top: calc(50% - 178.5px);
}
.entreprise2 {
  top: calc(50% - 129.5px);
}
.nom-et-prenom3 {
  top: 97px;
}
.div1,
.nom-et-prenom3 {
  position: absolute;
  right: 106px;
}
.nomprenomgmailcom {
  top: calc(50% - 227.5px);
}
.nomprenomgmailcom,
.xyz-transport {
  position: absolute;
  right: 106px;
}
.div1 {
  top: calc(50% - 178.5px);
}
.xyz-transport {
  top: calc(50% - 129.5px);
}
.profil {
  position: absolute;
  top: 24px;
  left: 107px;
  font-size: var(--font-size-17xl);
  color: var(--color-forestgreen);
}
.modifier {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 51.5px);
  line-height: 12px;
}
.modifier-wrapper {
  position: absolute;
  top: calc(50% - 22.5px);
  right: 107px;
  border-radius: var(--br-xs);
  background-color: var(--color-forestgreen);
  width: 249px;
  height: 50px;
  color: var(--color-white);
}
.poste1,
.recource-humain {
  position: absolute;
  top: calc(50% - 80.5px);
}
.poste1 {
  left: 107px;
}
.recource-humain {
  right: 106px;
}
.nom-et-prenom-parent {
  position: absolute;
  top: 172px;
  left: 117px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
  width: 1687px;
  height: 747px;
}
.base-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-icon4 {
  position: absolute;
  top: calc(50% - 43px);
  right: 500px;
  width: 16px;
  height: 16px;
}
.logo-web-icon9 {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: calc(50% - 910px);
  max-height: 100%;
  width: 276px;
  object-fit: cover;
}
.annonce,
.profile {
  position: absolute;
  top: calc(50% - 12px);
  right: 321px;
}
.profile {
  right: 467px;
  color: var(--color-forestgreen);
}
.group-child2 {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-forestgreen);
  width: 222px;
  height: 40px;
}
.deconnecter,
.rectangle-group {
  position: absolute;
  top: calc(50% - 12px);
  right: 25px;
}
.rectangle-group {
  top: calc(50% - 20px);
  right: 50px;
  width: 222px;
  height: 40px;
  cursor: pointer;
  color: var(--color-white);
}
.nav-bar-34 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
}
.about-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1241px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray);
  font-family: var(--font-arial);
}
