.about-offer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1920px;
  height: 888px;
}
.lencg-tanger-est8 {
  position: absolute;
  width: calc(100% - 7px);
  top: calc(50% + 4px);
  left: 8px;
  line-height: 24px;
  display: inline-block;
  height: 100px;
}
.logo-web-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 100px;
  object-fit: cover;
}
.encgt-20238,
.subscribe8 {
  position: absolute;
  left: 50px;
}
.subscribe8 {
  top: calc(50% - 129px);
  width: 361px;
  height: 208px;
}
.encgt-20238 {
  top: calc(50% - 8px);
}
.path-1-icon8,
.path-2-icon8 {
  position: absolute;
  top: calc(50% - 12.53px);
  right: 50.69px;
  width: 13.09px;
  height: 25.06px;
}
.path-2-icon8 {
  right: 94px;
  width: 28.87px;
  height: 23.41px;
}
.path-3-icon8 {
  top: calc(50% - 12.53px);
  right: 153px;
  width: 25.06px;
  height: 25.06px;
}
.adress9,
.info8,
.path-3-icon8 {
  position: absolute;
}
.info8 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  height: 50px;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.adress9 {
  top: 120px;
  left: calc(50% + 368px);
}
.route-de-laroport9 {
  margin: 0;
}
.route-de-laroport-container8 {
  position: absolute;
  top: calc(50% + 11px);
  left: calc(50% + 368px);
  line-height: 24px;
}
.service-formation-continue8 {
  position: absolute;
  top: 40px;
  right: 49px;
}
.tl-212-024 {
  position: absolute;
  top: calc(50% - 69px);
  right: 73px;
}
.standard-de-lencgt8 {
  position: absolute;
  top: calc(50% - 25px);
  right: 99px;
}
.email15 {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% + 368px);
}
.tl-212-0-container8 {
  position: absolute;
  top: calc(50% + 11px);
  right: 68px;
  line-height: 24px;
}
.encgtangerencgtma8 {
  position: absolute;
  top: calc(50% - 69px);
  left: calc(50% + 368px);
}
.footer-38 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 290px;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}
.nature-du-stage {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 12px;
}
.component-1-icon1 {
  position: absolute;
  top: calc(50% + 9.95px);
  right: 26.6px;
  width: 9.4px;
  height: 6.1px;
}
.input12,
.input13,
.input14,
.input15 {
  position: absolute;
  left: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 682px;
  height: 86px;
}
.input12 {
  top: 25px;
}
.input13 {
  top: calc(50% + 68.5px);
}
.input14 {
  top: calc(50% - 151.5px);
}
.input15 {
  top: calc(50% - 41.5px);
}
.lieu-de-stage {
  position: absolute;
  top: calc(50% + 3px);
  left: 16px;
  opacity: 0.5;
}
.input16,
.input17 {
  position: absolute;
  top: calc(50% - 41.5px);
  right: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 682px;
  height: 86px;
}
.input17 {
  top: calc(50% + 68.5px);
}
.description {
  position: absolute;
  top: calc(50% - 52px);
  left: 16px;
  opacity: 0.5;
}
.input18 {
  top: 25px;
  right: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 682px;
  height: 196px;
}
.cta2,
.input18,
.suivant1 {
  position: absolute;
}
.suivant1 {
  top: calc(50% - 10px);
  left: calc(50% - 38.5px);
  line-height: 12px;
}
.cta2 {
  bottom: 24px;
  left: calc(50% - 206px);
  border-radius: var(--br-3xs);
  background-color: var(--color-forestgreen);
  width: 413px;
  height: 60px;
  text-align: center;
  color: var(--color-white);
}
.data-entry1,
.group-child18 {
  position: absolute;
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
}
.data-entry1 {
  top: 283px;
  left: 222px;
  border-radius: var(--br-lgi);
  width: 1476px;
  height: 573px;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}
.group-child18 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 70px;
}
.div15 {
  position: absolute;
  top: calc(50% - 13px);
  left: 30px;
}
.a-propos-de5 {
  position: absolute;
  top: calc(50% - 14px);
  right: 23px;
}
.group-child19,
.rectangle-parent7 {
  position: absolute;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
}
.rectangle-parent7 {
  top: 172px;
  left: 222px;
  background-color: var(--color-white);
  width: 367px;
  height: 70px;
  cursor: pointer;
  font-family: var(--font-segoe-ui);
}
.group-child19 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-forestgreen);
  width: 70px;
}
.a-propos-de6 {
  position: absolute;
  top: calc(50% - 14px);
  right: 23px;
  color: var(--color-forestgreen);
}
.rectangle-parent8,
.rectangle-parent9 {
  position: absolute;
  top: 172px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
  height: 70px;
  font-family: var(--font-segoe-ui);
}
.rectangle-parent8 {
  left: 802px;
  width: 317px;
  color: var(--color-white);
}
.rectangle-parent9 {
  right: 222px;
  width: 386px;
}
.base-icon8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-icon8 {
  position: absolute;
  top: calc(50% - 43px);
  right: 500px;
  width: 16px;
  height: 16px;
}
.logo-web-icon18 {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: calc(50% - 910px);
  max-height: 100%;
  width: 276px;
  object-fit: cover;
}
.annonce4,
.profile7 {
  position: absolute;
  top: calc(50% - 12px);
  right: 321px;
}
.profile7 {
  right: 467px;
  color: var(--color-dimgray);
  cursor: pointer;
}
.group-child21 {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-forestgreen);
  width: 222px;
  height: 40px;
}
.deconnecter4 {
  position: absolute;
  top: calc(50% - 12px);
  right: 25px;
}
.rectangle-parent10 {
  position: absolute;
  top: calc(50% - 20px);
  right: 50px;
  width: 222px;
  height: 40px;
  cursor: pointer;
  color: var(--color-white);
}
.nav-bar-38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
  font-size: var(--font-size-3xl);
}
.about-offer {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1178px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-forestgreen);
  font-family: var(--font-arial);
}
