.about-students-3-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1920px;
  height: 888px;
}
.lencg-tanger-est9 {
  position: absolute;
  width: calc(100% - 7px);
  top: calc(50% + 4px);
  left: 8px;
  line-height: 24px;
  display: inline-block;
  height: 100px;
}
.logo-web-icon19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 100px;
  object-fit: cover;
}
.encgt-20239,
.subscribe9 {
  position: absolute;
  left: 50px;
}
.subscribe9 {
  top: calc(50% - 129px);
  width: 361px;
  height: 208px;
}
.encgt-20239 {
  top: calc(50% - 8px);
}
.path-1-icon9 {
  right: 50.69px;
  width: 13.09px;
  height: 25.06px;
}
.path-1-icon9,
.path-2-icon9,
.path-3-icon9 {
  position: absolute;
  top: calc(50% - 12.53px);
}
.path-2-icon9 {
  right: 94px;
  width: 28.87px;
  height: 23.41px;
}
.path-3-icon9 {
  right: 153px;
  width: 25.06px;
  height: 25.06px;
}
.info9 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  height: 50px;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.adress10 {
  position: absolute;
  top: 120px;
  left: calc(50% + 368px);
}
.route-de-laroport10 {
  margin: 0;
}
.route-de-laroport-container9 {
  position: absolute;
  top: calc(50% + 11px);
  left: calc(50% + 368px);
  line-height: 24px;
}
.service-formation-continue9 {
  position: absolute;
  top: 40px;
  right: 49px;
}
.tl-212-027 {
  position: absolute;
  top: calc(50% - 69px);
  right: 73px;
}
.standard-de-lencgt9 {
  position: absolute;
  top: calc(50% - 25px);
  right: 99px;
}
.email16 {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% + 368px);
}
.tl-212-0-container9 {
  position: absolute;
  top: calc(50% + 11px);
  right: 68px;
  line-height: 24px;
}
.encgtangerencgtma9 {
  position: absolute;
  top: calc(50% - 69px);
  left: calc(50% + 368px);
}
.footer-39 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 290px;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}
.formation2 {
  position: absolute;
  top: calc(50% + 3px);
  left: 16px;
  opacity: 0.5;
}
.component-10-icon {
  position: absolute;
  top: calc(50% + 12.95px);
  right: 26.6px;
  width: 9.4px;
  height: 6.1px;
}
.input19 {
  position: absolute;
  top: 24px;
  left: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 682px;
  height: 86px;
}
.langue {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 12px;
}
.component-7-icon {
  position: absolute;
  top: calc(50% + 9.95px);
  right: 26.6px;
  width: 9.4px;
  height: 6.1px;
}
.input20 {
  top: calc(50% + 68px);
  left: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 682px;
  height: 86px;
}
.cta3,
.input20,
.submit {
  position: absolute;
}
.submit {
  top: calc(50% - 10px);
  left: calc(50% - 33.5px);
  line-height: 12px;
}
.cta3 {
  bottom: 24px;
  left: calc(50% - 206px);
  border-radius: var(--br-3xs);
  background-color: var(--color-forestgreen);
  width: 413px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.input21,
.input22 {
  position: absolute;
  top: calc(50% - 152px);
  left: 36px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 682px;
  height: 86px;
}
.input22 {
  top: calc(50% - 42px);
}
.extras1 {
  position: absolute;
  top: 46px;
  left: 16px;
  opacity: 0.5;
}
.data-entry2,
.input23 {
  position: absolute;
  background-color: var(--color-white);
  box-sizing: border-box;
}
.input23 {
  top: 24px;
  right: 36px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-black);
  width: 682px;
  height: 416px;
}
.data-entry2 {
  top: 284px;
  left: 222px;
  border-radius: var(--br-lgi);
  border: 1px solid var(--color-forestgreen);
  width: 1476px;
  height: 572px;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
}
.base-icon9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-icon9 {
  position: absolute;
  top: calc(50% - 43px);
  right: 500px;
  width: 16px;
  height: 16px;
}
.logo-web-icon20 {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: calc(50% - 910px);
  max-height: 100%;
  width: 276px;
  object-fit: cover;
}
.annonce5,
.profile8 {
  position: absolute;
  top: calc(50% - 12px);
  right: 304px;
}
.profile8 {
  right: 450px;
  color: var(--color-dimgray);
  cursor: pointer;
}
.group-child22 {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-forestgreen);
  width: 205px;
  height: 40px;
}
.deconecter {
  position: absolute;
  top: calc(50% - 12px);
  right: 24px;
}
.rectangle-parent11 {
  position: absolute;
  top: calc(50% - 20px);
  right: 50px;
  width: 205px;
  height: 40px;
  cursor: pointer;
  color: var(--color-white);
}
.group-child23,
.nav-bar-39 {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-bar-39 {
  width: 1920px;
  height: 140px;
  font-size: var(--font-size-3xl);
}
.group-child23 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
  width: 70px;
}
.div18 {
  position: absolute;
  top: calc(50% - 13px);
  left: 30px;
}
.a-propos-de7 {
  position: absolute;
  top: calc(50% - 14px);
  right: 23px;
}
.rectangle-parent12 {
  top: 172px;
  left: 222px;
  background-color: var(--color-white);
  width: 367px;
  height: 70px;
  font-family: var(--font-segoe-ui);
}
.group-child25,
.rectangle-parent12,
.rectangle-parent13 {
  position: absolute;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
}
.rectangle-parent13 {
  top: 172px;
  left: 802px;
  background-color: var(--color-white);
  width: 317px;
  height: 70px;
  font-family: var(--font-segoe-ui);
}
.group-child25 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-forestgreen);
  width: 70px;
}
.competences-recherchees3 {
  position: absolute;
  top: calc(50% - 14px);
  right: 23px;
  color: var(--color-forestgreen);
}
.rectangle-parent14 {
  position: absolute;
  top: 172px;
  right: 222px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
  width: 386px;
  height: 70px;
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
.about-students-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1178px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-forestgreen);
  font-family: var(--font-arial);
}
