.final-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1920px;
  height: 888px;
}
.lencg-tanger-est11 {
  position: absolute;
  width: calc(100% - 7px);
  top: calc(50% + 4px);
  left: 8px;
  line-height: 24px;
  display: inline-block;
  height: 100px;
}
.logo-web-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 100px;
  object-fit: cover;
}
.subscribe11 {
  position: absolute;
  top: calc(50% - 129px);
  left: 50px;
  width: 361px;
  height: 208px;
}
.encgt-202311 {
  position: absolute;
  top: calc(50% - 8px);
  left: 50px;
}
.path-1-icon11 {
  right: 50.69px;
  width: 13.09px;
  height: 25.06px;
}
.path-1-icon11,
.path-2-icon11,
.path-3-icon11 {
  position: absolute;
  top: calc(50% - 12.53px);
}
.path-2-icon11 {
  right: 94px;
  width: 28.87px;
  height: 23.41px;
}
.path-3-icon11 {
  right: 153px;
  width: 25.06px;
  height: 25.06px;
}
.info11 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  height: 50px;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.adress12 {
  position: absolute;
  top: 120px;
  left: calc(50% + 368px);
}
.route-de-laroport-container11 {
  position: absolute;
  top: calc(50% + 11px);
  left: calc(50% + 368px);
  line-height: 24px;
}
.service-formation-continue11 {
  position: absolute;
  top: 40px;
  right: 49px;
}
.tl-212-033 {
  position: absolute;
  top: calc(50% - 69px);
  right: 73px;
}
.standard-de-lencgt11 {
  position: absolute;
  top: calc(50% - 25px);
  right: 99px;
}
.email18 {
  position: absolute;
  top: calc(50% - 105px);
  left: calc(50% + 368px);
}
.tl-212-0-container11 {
  position: absolute;
  top: calc(50% + 11px);
  right: 68px;
  line-height: 24px;
}
.encgtangerencgtma11 {
  position: absolute;
  top: calc(50% - 69px);
  left: calc(50% + 368px);
}
.footer-311 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 290px;
  font-size: var(--font-size-lg);
}
.votre-annonce-a {
  position: absolute;
  top: calc(50% - 138px);
  left: calc(50% - 216px);
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-align: left;
}
.le-bureau-des {
  margin: 0;
}
.le-bureau-des-container {
  position: absolute;
  width: calc(100% - 655px);
  top: calc(50% - 73px);
  left: 328px;
  line-height: 30px;
  display: inline-block;
  height: 119px;
}
.vos-annonces1 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 87.5px);
}
.vos-annonces-wrapper {
  position: absolute;
  top: calc(50% + 78px);
  left: calc(50% - 198px);
  border-radius: var(--br-xs);
  background-color: var(--color-forestgreen);
  width: 397px;
  height: 60px;
  cursor: pointer;
  color: var(--color-white);
}
.votre-annonce-a-t-bien-reue-parent {
  position: absolute;
  top: 172px;
  left: 222px;
  border-radius: var(--br-lgi);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen);
  box-sizing: border-box;
  width: 1476px;
  height: 684px;
  text-align: center;
  color: var(--color-dimgray);
}
.base-icon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-icon11 {
  position: absolute;
  top: calc(50% - 43px);
  right: 500px;
  width: 16px;
  height: 16px;
}
.logo-web-icon25 {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: calc(50% - 910px);
  max-height: 100%;
  width: 276px;
  object-fit: cover;
}
.annonce7,
.profile10 {
  position: absolute;
  top: calc(50% - 12px);
  right: 321px;
}
.profile10 {
  right: 467px;
  color: var(--color-dimgray);
  cursor: pointer;
}
.group-child31 {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-forestgreen);
  width: 222px;
  height: 40px;
}
.deconnecter5 {
  position: absolute;
  top: calc(50% - 12px);
  right: 25px;
}
.rectangle-parent16 {
  position: absolute;
  top: calc(50% - 20px);
  right: 50px;
  width: 222px;
  height: 40px;
  cursor: pointer;
  color: var(--color-white);
}
.nav-bar-311 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 140px;
  color: var(--color-forestgreen);
}
.final {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1178px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray);
  font-family: var(--font-arial);
}
