body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 0px;
}
p{
    margin: 0px;
}



/* nav style */

nav div{
    background-color: white;
    height: 100px;
    width: auto;
    position: relative;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav div img{
    height: 70px;
    max-height: 100%;

    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);

    order: 1;
    flex-grow: 1;
    align-self: center;
}

nav div p{
    font-family: sans-serif;
    color: #707070;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 50px;

    order: 2;
    flex-grow: 1;
    align-self: center;
}

/* bg style */

.main-bg{
    background-image: url(assets/Mask\ Group\ 5.png);
    height: 100vh;
    width: 100vw;
}

.main-bg-container{
    background-color: #F5F5F5;
    height: 100vh;
    width: 100vw;
}

/* main text style */

.main-content-container{
    height: calc(100% - 100px);
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.main-text{
    width: 60%;
    flex-grow: 1;
}

.main-image{
    width: 40%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-h1{
    font-size: 60px;
    color: white;
    margin: 0;
}

.main-p{
    color: white;
    font-size: 22px;
    margin-top: 16px;
}

button{
    height: 60px;
    width: 385px;
    background-color: white;
    color: #529A0B;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 12px;
    margin-top: 32px;
}


/* nos partenais style */

.np-section{
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.np-div-center{
    flex-grow: 1;
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.title h2{
    color: #529A0B;
    margin-bottom: 50px;
}

.logos-div{
    margin-left: 70px;
    margin-right: 70px;
    border: 1px black solid;
    background-color: white;
    height: 600px;  
}

/* footer style */

.footer{
    background: white;
    height: 290px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.footer-top{
    height: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.footer-section-one{
    margin-left: 50px;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
}

.footer-section-one-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-grow: 1;
}

.footer-section-one p{
    font-size: 16px;
    margin-top: 8px;
    color: #7F7F7F;
    margin-left: 8px;
}

.footer-section-one img{
    margin-top: 8px;
    height: 100px;
}

.footer-section-filler{
    flex-grow: 1;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}

.footer-section-two{
    width: 25%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    padding-left: 20px;
    padding-right: 60px;
}

.footer-section-two-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-grow: 1;
}

.footer-title{
    font-size: 16px;
    font-weight: bold;
    color: #7F7F7F;
    margin-bottom: 12px;

}

.footer-title-mt{
    font-size: 16px;
    font-weight: bold;
    color: #7F7F7F;
    margin-bottom: 12px;
    margin-top: 20px;
}

.footer-sub-info{
    font-size: 16px;
    color: #7F7F7F;
}

.footer-sub-info-mt{
    font-size: 16px;
    color: #7F7F7F;
    margin-top: 4px;
}

.footer-section-tree{
    width: 25%;
    height: 100%;
    padding-right: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}

.footer-section-tree-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.footer-sub{
    background-color: #F5F5F5;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
}

.cp-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-grow: 1;
}

.icons-container img{
    margin-left: 30px;
}



/* form style */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  ::selection{
    background: #529A0B;
    color: #fff;
  }
  .wrapper{
    margin-top: 32px;
    margin-bottom: 32px;
    width: 50%;
    background: #fff;
    border:1px #529A0B solid;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
  }

  .wrapper .form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-container .form-inner{
    display: flex;
    width: 70%;
  }
  .form-container .form-inner form{
    width: 100%;
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-inner form .field input{
    height: 100%;
    width: 98%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
  }
  .form-inner form .field input:focus{
    border-color: #529A0B;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #529A0B;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: #529A0B;
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

.connect-title{
  color: #529A0B;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

  /* nav bar */

nav div ul{
    margin-right: 50px;
    order: 2;
    flex-grow: 1;
    align-self: center;
    list-style-type: none;
    padding: 0;
}

nav div li{
    display: inline;
    float: right;
    
}

nav div li a{
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #529A0B;
  }

  .btn-decconecter{
    color: white;
    background-color: #529A0B;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-left: 50px;
  }

  .menu-option{
    color: #7F7F7F;
    margin-left: 50px;
  }

  #active {
    color: #529A0B;
  }

.info-content-container{
    height: 95%;
    width: 100%;
    background-color: white;
    border:1px #529A0B solid;
    border-radius: 12px;
}

.info-content-container h2{
    color: #529A0B;
    margin-top: 24px;
    margin-left: 32px;
}

.info-title-data-container{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

.info-title{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
}

.info-data{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: end;
}

.info-title-data-container p{
    margin-top: 8px;
    margin-bottom: 8px;
    color: #707070;
}

.btn-modifier{
    margin-top: 32px;
    margin-right: 32px;
    border-radius: 12px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: #529A0B;
    float: right;
    text-decoration: none;
}


/* annonces page */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    max-lines: 1;
    text-align: center;
}

table img {
    height: 25px;
    cursor: pointer;
}

/* annonces preview page */

.main-content-container-dds{
    height: 99vw;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.main-bg-container-preview {
    background-color: #F5F5F5;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.info-content-container-dds{
  height: 98%;
  width: 98%;
  background-color: white;
  border:1px #707070 solid;
  border-radius: 5px;
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-content-container-dds p{
  color: #7F7F7F;
}

.btn-telecharger{
  cursor: pointer;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 24px;
  color: white;
  background-color: #529A0B;
}

.info-content-container-dds img{
  height: 100px;
  float: left;
}

.top-logos{
  width: 100%;
}

.company-logo{
  height: 100px;
  width: 200px;
  float: right;
  border: 1px black dotted;
  background-color: #7F7F7F;
}

.annonce-title{
  text-align: center;
  width: 100%;
  margin-top: 3.15%;
  color: #529A0B;
}

.annonce-desc{
  text-align: center;
  width: 100%;
  margin-top: 1.7%;
  color: #529A0B;
}

.annonce-aprop{
  width: 100%;
  margin-top: 7.5%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.entro-aprop{
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 3.15%;
}

.offre-aprop{
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 3.15%;
}

.comp-aprop{
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 3.15%;
}

.instru-aprop{
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 3.15%;
}

.line-break{
  width: 100%;
  height: 2px;
  margin-bottom: 2.4%;
  background-color: #529A0B;
}

.key-value-desc{
  width: 100%;
  margin-bottom: 1.7%;
}

.key-desc{
  float: left;
}

.value-desc{
  float: right;
  max-width: 50%;
}

.desc-desc{
  width: 100%;
}

.emails-instru{
  width: 100%;
  margin-top: 2.25%;
}

.email-instru{
  width: 100%;
  margin-bottom: 1%;
  text-align: end;
  font-weight: bold;
}


.info-content-container-dds h3{
  color: #529A0B;
  font-weight: bold;
  float: left;
}


/* ajouter style */

.main-content-container-ajt{
  padding-top: 1%;
  padding-bottom: 1%;
  height: calc(100% - 100px);
  width: 78%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.info-content-container-ajt-stp{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.info-content-container-ajt-flds{
  border: 1px #529A0B solid;
  background-color: white;
  border-radius: 12px;
  height: 85%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.info-content-container-ajt-flds-grid{
  border: 1px #529A0B solid;
  background-color: white;
  border-radius: 12px;
  height: 75%;
  width: 100%;
  padding: 30px;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.stp-container{
  border: 1px #529A0B solid;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.numb-container{
  height: 60px;
  width: 60px;
  border: 2px #529A0B solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numb-container p{
  color: #529A0B;
}

.txt-container p{
  color: #529A0B;
}

.txt-container{
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ajt-flds-total{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: inner-div;
}

.ajt-flds-lft{
  width: 50%;
  height: fit-content;
  padding-right: 15px;
  padding-bottom: 10px;
}

.ajt-flds-rght{
  width: 50%;
  padding-left: 15px;
  height: fit-content;
  padding-bottom: 10px;
}

.btn-main-stp{
  cursor: pointer;
  background-color: #529A0B;
  border-radius: 12px;
  margin-top: 20px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: inner-div;
}


.btn-main-stp p{
  color: white;
}

.ajt-flds-total label{
  color: #7F7F7F;
  display:inline-block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ajt-flds-total input{
  color: #7F7F7F;
  border: 1px #529A0B solid;
  padding-left: 10px;
  border-radius: 5px;
  display:inline-block;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
}

.ajt-flds-total select{
  background-color: white;
  color: #7F7F7F;
  padding-left: 10px;
  border: 1px #529A0B solid;
  border-radius: 5px;
  display:inline-block;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
}

.ajt-flds-total textarea{
  background-color: white;
  color: #7F7F7F;
  padding-left: 10px;
  border: 1px #529A0B solid;
  border-radius: 5px;
  display:inline-block;
  width: 100%;
  height: 135px;
  padding-top: 5px;
}

.add-logo-entreprise{
  background-color: white;
  color: #7F7F7F;
  padding-left: 10px;
  border: 1px #529A0B solid;
  border-radius: 10px;
  display:inline-block;
  width: 100%;
  height: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-logo-entreprise p{
  margin-top: 10px;
}

.outlined-btn-ajt {
  border: 2px #529A0B solid;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  display:inline-block;
  text-align: center;
  margin-top: 0px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  cursor: pointer;
  border: 2px #529A0B solid;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  color: #529A0B;
  display:inline-block;
  text-align: center;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #529A0B;
  opacity: 70;
  color: white;
}

#ajt-flds-total-stp-one{
  visibility: visible;
}

#ajt-flds-total-stp-two{
  visibility: hidden;
}

#ajt-flds-total-stp-tree{
  visibility: hidden;
}

#description-de-post{
  margin-bottom: 10px;
  height: 140px;
}

#extras{
  margin-bottom: 10px;
  height: 330px;
}


.btn-action{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    grid-area: inner-div;
}

.btn-action-stp{
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.info-content-container-success-msg{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success-title{
  color: #707070;
  font-weight: bold;
  font-size: larger;
}

.success-msg{
  color: #707070;
  width: 50%;
  text-align: center;
  margin: 20px;
}

.msg_no_result{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}